Eclipse files
.classpath
.project
.settings
workbench.xmi

# build artifacts
target/

#OS X Stuff
.DS_STORE

src/main/resources/swagger.properties
src/main/webapp/index.html

Memes/
TestMemes/
index/
downloadedMemes/
TestCluster/

